<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wpfStudy.Properties.Settings.ConnectionStr" connectionString="Data Source=127.0.0.1,9008;Initial Catalog=myDB;User ID=sa;Password=9525"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>